Source: tarantool-queue
Priority: optional
Section: database
Maintainer: Roman Tsisyk <roman@tarantool.org>
Build-Depends: debhelper (>= 9),
               tarantool-dev (>= 1.7),
# For /usr/bin/prove
               perl (>= 5.10.0)
Standards-Version: 3.9.6
Homepage: https://github.com/tarantool/queue
Vcs-Git: git://github.com/tarantool/queue.git
Vcs-Browser: https://github.com/tarantool/queue

Package: tarantool-queue
Architecture: all
Depends: tarantool (>= 1.7), ${misc:Depends}
Description: Persistent in-memory queues for Tarantool
 A collection of persistent queue implementations for Tarantool.
